.tm-main {
  margin-left: 240px;

  @media screen and (max-width: 959px) {
    margin-left: 0;
  }

  @media screen and (min-width: 1400px) {
    margin-left: 300px;
  }
}

span.select2.select2-container {
  width: 100% !important;
}

.tr-transparent {
  background-color:rgba(0, 0, 0, 0) !important;
}

.tr-transparent > td {
  padding: 5px 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

table.dataTable tbody th, table.dataTable tbody td {
  font-size: 14px;
}