<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <h1 class="uk-heading-primary">Nouveau Document</h1>
    </div>
    <%= render 'form', attachment: @attachment %>
  </div>
</div>
